<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
	{% include "model-header.html" %}
</head>
<body>
	<style type="text/css">
		.container {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			background-color: blue;
			width: 100%;
			height: 100%;
		}
		.box {
		  	background: red;
		 	color: #fff;
		 	width: 100px;
		 	height: 100px;
		 	/*padding: 10px;*/
		 	margin: 10px;
		 	border-radius: 10px;
		}
	</style>
	{% include "model-menu.html" %}
	<div>
	{% block content %}
	<div style="width: 800px; height: 400px;">
		<h2>Relação dos Estacionamentos</h2>
		<div class="container">				
		{% if areas %}
			
			{% for area in areas %}

			<div class="box">
				<p align="center"><b>{{ area.nome }}</b></p>
				<hr>
				<p align="center">{{ area.capacidade }}</p>
			</div>
		{% endfor %}	
		{% endif%}
			<div class="box" align="center">
				<a href="{% url 'formulario_area' %}">
					<img width="100%" src="{% static 'imgs/novo.png' %}" alt="My image"></a>
				</a>
			</div>
		</div>
	</div>
	{% endblock %}
	<br><br>
	<div>
		{% include "model-footer.html" %}	
	</div>

	
	
</body>

</html>
